<!DOCTYPE html>
<html>
<head>
    <title>Мои заметки</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% if 'username' in session %}
        <p>Вы вошли как {{ session['username'] }} | <a href="{{ url_for('logout') }}">Выйти</a></p>
    {% endif %}

    {% block content %}{% endblock %}
</body>
</html>